* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------- */
/* 공통 스타일 관련 */
/* ------------------------------- */
a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 3px 15px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #625af0;
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  padding: 3px 15px;
}

.btn-middle {
  width: 50px;
  height: 50px;
}

.btn-large {
  width: 60px;
  height: 60px;
}

.btn-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-w-80p {
  width: 80%;
}

/* ------------------------------- */
/* 지역 스타일 관련 */
/* ------------------------------- */
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* ------------------------------- */
/* 사이드 바 관련 */
/* ------------------------------- */
.side-bar {
  background-color: #ff3b49;
}

.side-inner {
  /* grid iteml 인 `.side-bar`에 position을 줘도 적용이 안 되므로 
  `side-bar`의 콘텐츠(자식)들을 한 번 더 `.side-inner`로 랩핑 해줬다. */
  position: sticky;
  top: 0;
  color: #ffffff;
}

.title {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.nav-title {
  background-color: #ff5662;
  padding: 8px 15px; 
  font-weight: 900;
}

.nav-list {
  list-style-type: none;

  /* flex 넣은 이유: 아이템들 간의 간격을 편하게 조절하기 위해 */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-list > li:hover {
  background-color: #000000;
  transition: all 2s;
}

/* ------------------------------- */
/* 메인 관련 */
/* ------------------------------- */
.main {
  background-color: #d8d8d8;
  height: 100vh;
}

.main-search-box {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.main-banner {
  background-image: url("../img/main_title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 50px;
}


.main-contents-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  padding-top: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 20px;
  font-weight: 600;

}





