:root {
  /* 변수 (variable) */
  --text-main-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-main-color); /* 변수 사용 : var() 사용 */
} 

a {
  text-decoration: none;
}

/* header */

header { 
  padding: 30px;
  background-image: url('./img/img_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.btn {
  background-color: #ffaf47;
  padding: 20px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
} 

.btn:hover {
  opacity: 0.6;
  transition: all 1.5s;
  cursor: pointer;
}

.btn-middle {
  width: 250px;
  font-size: 1.5rem;
}

.header-title {
  font-size: 3.5rem;
  padding: 50px 0;
}

.header-info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly; 
}
 

/* main */

main {
  padding: 30px 30px 100px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid #afafaf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.card-img {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-img-title {
  background-color: #000000bb;
  padding: 20px 10px;
  font-size: 20px;
}

.card-content {
  color: #000000;
}

/* footer */

footer {
  background-color: #363636;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}