  /* 폰트 지정 */
body {  
  /* font-family: "돋움, 궁서"; */
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 30px;
}

  /* 폰트 크기 */
.p-font-size {
  /* px: 픽셀 단위로 폰트 크기 조절 */
  /* font-size: 50px; */

  /* em : 부모 요소의 글자 크기 기준 배율로 폰트 크기 조절 */
  /* font-size: 2em; */

  /* rem : 최상위 요소의 글자 크기 기준 배율로 폰트 크기 조절*/
  font-size: 1rem;
}

div {
  font-size: 20px;
}

.p-font-size2 {
  font-size: 2em;
}

.p-font-weight {
  /* 폰트 굵기 : 100~900을 설정 가능 */
  font-weight: 400;
}



