* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 10px;
  background-color: antiquewhite;
  /* width: 400px; */
  height: 400px;
  /* 부모 요소에 flex 지정 */
  display: flex;

  /* flex-direction: 주축 방향을 정하는 속성 (defalut: row)*/
  flex-direction: row;

  /* gap: 아이템들 간의 간격을 조절하는 속성 */
  gap: 20px;

  /* flex-wrap: 줄 바꿈 여부를 지정 */
  /* flex-wrap: wrap; */
  
  /* flex=flow: `flex-direction`, `flex-wrap` 한 번에 지정 */
  /* flex-flow: column nowrap; */

  /* justify-content: 주축 기준으로 아이템들을 정렬하는 방법을 지정 */
  justify-content:center;

  /* aline-item: 교차축 기준 단일 라인하는 방법을 저장 */
  /* align-items: start;   */

  /* align-content: 교자출 기준 여러 라인을 정렬하는 방법을 저장 */
  align-content: flex-end;
}


.item {
  /* flex-basis: 아이템의 기본 크기를 설정 */
  /* flex-basis: 150px; */

  /* flex-grow: 빈 공간이 생겼을 때 얼마만큼 더 커질지 결정하는 속성 */
  /* flex-grow: 0; */

  /* flex-shrink: 공간이 부족할 때 얼마나 더 줄어들지 결정하는 속성 */
  /* flex-shrink: 1; */

  /* flex: flex-grow, flex-shrink, flex-basis 를 한번에 작성 (실무 권장) */
  flex: 1 1 0;

  width: 100px;
  height: 100px;
  background-color: #07f7ff;
  border: 1px solid #000000;

}

